:root{
    /** COLORS **/
    --color-primary: #724C9F;
    --color-white: #fff;
    --color-secondary: 
    #EA0B8B;
    --color-dark: #000;
    --color-red:#EC2127;
    --color-orange: 
    #F58220;
    --color-purple:#432F87;
    --color-cyan: #2BABE2;
    --color-yellow: #FFD200;
    --color-green: #77C043;
    /** GRADIENTS **/
    --gradient-primary: rgba(114, 76, 159,0.3);
    --gradient-secondary:rgba(234, 11, 139,0.1);
    --gradient-orange: rgba(245, 130, 32, 0.2);
    --gradient-cyan:rgba(43, 171, 226, 0.2);
    --gradient-green: rgba(119, 192, 67,0.2);
    --gradient-purple: rgba(67, 47, 135, 0.6);
    /** RGBA **/
    --rgba-primary: rgba(114, 76, 159);
    --rgba-secondary: rgba(234, 11, 139, 0.8);
    --rgba-white: rgba(255, 255, 255);
    --rgba-dark: 	rgb(0, 0, 0);
    --rgba-red: rgba(236, 33, 39, 0.8);
    --rgba-orange:rgba(245, 130, 32, 0.8);
    --rgba-yellow: rgba(255, 210, 0);
    --rgba-cyan: rgba(43, 171, 226);
    --rgba-green:rgba(119, 192, 67,0.8);
    --rgba-purple: 	rgba(67, 47, 135, 0.8);
    /** WIDTH **/
    --img-width-logo: 130px;
    --img-width-agent: 450px;
    /** PADDING **/
    --nav-padding: 9px;
    --text-padding: 15px;
    --general-padding: 100px;
    /** GENERALS **/
    --animation-duration: 1300ms;
    --font-text-primary: Serifblack;
    --font-text-secondary: Centra;
    --box-shadow: 0px 0px 0px 0px;
    --border-radius: 20px;
}

@font-face {
    font-family: Serifblack;
    src: url(fonts/Serifblack.otf);
}

@font-face {
    font-family: Centra;
    src: url(fonts/Centra.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

ul, dl, ol{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 0;
}

/** ESTILOS HEADER/NAV **/

header{
    background: linear-gradient(to top, var(--gradient-purple), transparent), url(images/vaci5.png);
    filter: saturate(200%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header #nav{
    display: flex;
    justify-content: space-between;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
    padding-top: 30px;
    background: transparent;
}

header .pages{
    display: flex;
    gap: 1em;
    padding: 20px;
    color: var(--color-white);
    font-weight: bold;
}

header .pages li{
    background-color: var(--color-purple);
    padding: var(--nav-padding);
    width: 8em;
    height: 2.5em;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-text-secondary);
}

header .pages li:nth-child(4){
    background-color: var(--color-secondary);
    animation: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

header .logo img{
    width: var(--img-width-logo);
    padding: 0;
}

/** ESTILOS INNER **/

header #inner{
    padding-top: 10px;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
    height: 12cm;
}

header #inner #title{
    margin: auto;
}

header h1{
    background: linear-gradient(to right , var(--rgba-secondary), transparent);
    color: var(--color-white);
    padding: var(--text-padding);
    border-radius: var(--border-radius);
    animation: bounceIn;
    animation-duration: var(--animation-duration);
    font-family: var(--font-text-primary);
    margin-bottom: 0.5rem;
}

header p{
    background: linear-gradient(to right, var(--rgba-red), transparent);
    padding: var(--text-padding);
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-weight: bold;
    animation: bounceIn;
    animation-duration: var(--animation-duration);
    font-family: var(--font-text-secondary);
}

header #inner #agent{
    display: flex;
    justify-content: center;
}

header #inner img{
    width: var(--img-width-agent);
}

/** ESTILOS SECTION **/

#section{
    background-image: url(images/wave-haikei.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}

#section .card{
    width: 7cm;
    margin: auto;
    border: none;
    padding: 0;
}

#section .card .card-img{
    height: 6cm;
}

#section #cards #card-1{
    background-color: var(--color-green);
    box-shadow: var(--box-shadow) var(--rgba-green);
}

#section #cards #card-2{
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow) var(--rgba-orange);
}

#section #cards #card-3{
    background-color: var(--color-red);
    box-shadow: var(--box-shadow) var(--rgba-red);
}

#section #cards #card-4{
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow) var(--rgba-secondary);
}

#section .card h1{
    font-family: var(--font-text-secondary);
    font-size: 30px;
    font-weight: bold;
    color: var(--color-white);
}

#section .card p{
    color: var(--color-white);
}