*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav{
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 20px;
  transform: scale(0.8,0.8);
}

.navegacion{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 0px rgb(136, 136, 136);
}

.navegacion a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.navegacion #boton{
  text-align: center;
  padding: 12px;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
}

.navegacion #boton .h-6{
  width: 20px;
  margin-top: -5.5px;
}

.navegacion #boton:hover{
  background-color: #ff7f50;
  color: white;
}

.navegacion ul{
  margin-top: 15px;
  gap: 4cm;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .navegacion ul{
    gap: 2cm;
  }
}

.navegacion img{
  width: 200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;

}

menu{
  background-image: url(../content/images/stacked-peaks-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 8cm;
  display: flex;
  justify-content: center;
}

menu img{
  margin-top: 1cm;
  height: 100px;
}

section{
  display: flex;
  justify-content: center;
}

section .container{
  position: absolute;
  background-color: white;
  height: 20cm;
  margin-top: -3cm;
  width: 25cm;
  box-shadow: 0px 0px 100px 0px rgba(122, 122, 122, 0.269);
}

section header{
  border-bottom: 1px solid black;
  margin: 0;
}

section .container header h1{
  padding: 10px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: rgb(84, 84, 84);
}

section .container form{
  padding: 20px;
}

section form label{
  color: rgb(146, 146, 146);
}