body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 357.92Q45.54 331.46%2c 72 376.99Q95.32 280.31%2c 192 303.63Q239.06 278.69%2c 264 325.74Q306.19 295.94%2c 336 338.13Q348.32 278.45%2c 408 290.78Q479.41 242.19%2c 528 313.6Q605.99 271.59%2c 648 349.58Q680.15 261.74%2c 768 293.89Q822.26 228.15%2c 888 282.42Q974.87 249.28%2c 1008 336.15Q1047.54 255.69%2c 1128 295.22Q1195.71 242.93%2c 1248 310.64Q1308.76 299.4%2c 1320 360.16Q1337.41 305.58%2c 1392 322.99Q1413.5 272.49%2c 1464 293.99z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 364.85Q87.27 332.12%2c 120 419.39Q148.27 375.66%2c 192 403.93Q204.79 344.72%2c 264 357.51Q305.72 327.23%2c 336 368.95Q415.96 328.91%2c 456 408.87Q483.98 364.85%2c 528 392.82Q575.3 320.12%2c 648 367.42Q703.82 351.25%2c 720 407.07Q775.18 390.25%2c 792 445.43Q809.42 342.85%2c 912 360.27Q956.16 332.43%2c 984 376.59Q1030.88 351.46%2c 1056 398.34Q1110.46 332.8%2c 1176 387.27Q1264.17 355.44%2c 1296 443.61Q1315.56 343.17%2c 1416 362.73Q1481.51 308.24%2c 1536 373.75z' fill='rgba(0%2c 255%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 499.29Q66.36 445.65%2c 120 512.02Q155.87 427.88%2c 240 463.75Q281.2 432.95%2c 312 474.15Q358.6 400.75%2c 432 447.35Q499.35 394.7%2c 552 462.04Q624.46 414.5%2c 672 486.96Q719.63 462.58%2c 744 510.21Q745.27 439.48%2c 816 440.75Q842.43 395.18%2c 888 421.61Q978.97 392.58%2c 1008 483.54Q1019.08 422.62%2c 1080 433.7Q1110.12 391.82%2c 1152 421.94Q1206.59 404.52%2c 1224 459.11Q1250.53 413.64%2c 1296 440.17Q1349.67 373.85%2c 1416 427.52Q1474.61 414.13%2c 1488 472.74z' fill='rgba(159%2c 255%2c 159%2c 1)'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 519.32Q47.47 494.79%2c 72 542.26Q110.49 460.75%2c 192 499.24Q240 475.24%2c 264 523.23Q322.25 509.48%2c 336 567.72Q336.38 496.1%2c 408 496.48Q479.47 495.95%2c 480 567.42Q519.87 487.29%2c 600 527.16Q642.33 497.49%2c 672 539.82Q732 527.82%2c 744 587.81Q788.52 512.33%2c 864 556.85Q882.49 503.34%2c 936 521.83Q982.22 448.05%2c 1056 494.27Q1114.7 480.97%2c 1128 539.68Q1179.18 518.86%2c 1200 570.03Q1241.53 539.56%2c 1272 581.09Q1287.64 524.74%2c 1344 540.38Q1355.13 479.51%2c 1416 490.64Q1491.3 445.94%2c 1536 521.23z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid{
    height: 30cm;
    padding: 5cm;
}

.icon{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3cm
}

.boton{
    display: flex;
    justify-content: center;
}

.boton button{
    background: none;
    border: none;
    padding: 15px;
    transition: 500ms;
    font-weight: bold;
    font-size: 1cm;
}

.boton button:hover{
    background-color: yellowgreen;
}

img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    z-index: 100;
}