* {
  padding: 0;
  margin: 0;
}

body{
  background-image: url(../content/images/stacked-peaks-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** CSS NAVEGACION **/

nav{
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 20px;
  transform: scale(0.8,0.8);
}

.navegacion{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 0px rgb(136, 136, 136);
}

.navegacion a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.navegacion #boton{
  text-align: center;
  padding: 12px;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
}

.navegacion #boton .h-6{
  width: 20px;
  margin-top: -5.5px;
}

.navegacion #boton:hover{
  background-color: #ff7f50;
  color: white;
}

.navegacion ul{
  margin-top: 15px;
  gap: 4cm;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .navegacion ul{
    gap: 2cm;
  }
}

.navegacion img{
  width: 200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;

}

/** CSS HEADER **/

header .titulo{
  text-align: center;
  padding-top: 2cm;
  color: white;
  animation: bounceIn;
  animation-duration: 1.5s;
}

header .titulo h1{
  font-weight: bold;
  font-family: 'Mochiy Pop One';
  font-size: 35px;
}

header .titulo strong{
  color: #ff7f50;
}

header .caja{
  margin-top: 2cm;
  display: flex;
  justify-content: center;
  gap: 2cm;
}

.caja .promocion{
  background-color: aliceblue;
  width: 7cm;
  height: 10cm;
  transition: 200ms;
  filter: blur(2px);
  animation: bounceIn;
  animation-duration: 1.5s;
}

.caja .promocion:hover{
  background-color: white;
  filter: blur(0px);
  border: 1px solid white;
  box-shadow: 0px 0px 30px 0px rgb(108, 108, 108);
}

.caja .promocion img{
  width: 100%;
  height: 100%;
}

.caja .promocion:nth-child(2){
  width: 8cm;
  height: 11cm;
}

.boton{
  display: flex;
  justify-content: space-around;
  margin-top: 3cm;
  gap: 13cm;
}

.boton a{
  text-decoration: none;
}

.boton button{
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Mochiy Pop One';
  transition: 200ms;
}

.boton button .h-6{
  width: 20px;
  margin-top: -5.5px;
}

.boton button:hover{
  background-color: #ffa07d;
}

.boton .facebook{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 7px;
  box-shadow: 0px 0px 30px 0px rgb(108, 108, 108);
}

.boton .whatsapp{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 7px;
  box-shadow: 0px 0px 30px 0px rgb(108, 108, 108);
  transition: 200ms;
}

/** CSS SECTION BUSCAR **/

section{
  background-color: white;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin: auto;
 }
 
 .input {
  width: 10cm;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid rgb(156, 156, 156);
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: black;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: black;
  width: 1rem;
  height: 1rem;
 }

 /** CSS PRODUCTOS **/

section h1{
  text-align: center;
  font-weight: bold;
  font-family: 'Mochiy Pop One';
  font-size: 35px;
  margin-bottom: 1cm;
}

section h1 strong{
  color: #ff7f50;
}

section .container-fluid .container #frutas, #verduras{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(1,1fr);
}
 
section{
  height: 38cm;
} 
 
section .card{
  transition: 300ms;
  animation: bounceIn;
  animation-duration: 1s;
}

section .card:hover{
  box-shadow: 0px 0px 30px 0px rgba(128, 128, 128, 0.567);
}

section button{
  background: none;
  border: none;
  padding: 7px;
  border-radius: 20px;
  color: red;
  border: 1px solid red;
  width: 152px;
  transition: 300ms;
}

section button:hover{
  color: white;
  background-color: red;
}
 
section #modal1 h1{
  text-align: center;
  font-weight: bold;
  font-family: 'Mochiy Pop One';
  font-size: 35px;
  padding: 20px;
}

menu{
  background: transparent;
  height: 15cm;
}

menu h1{
  text-align: center;
  font-weight: bold;
  font-family: 'Mochiy Pop One';
  font-size: 35px;
  animation: bounceIn;
  animation-duration: 1s;
}

menu h2{
  text-align: center;
  font-family: "Mochiy Pop One";
  margin-top: 2cm;
  animation: bounceIn;
  animation-duration: 1s;
}

menu h2 strong{
  color: white;
  animation: bounceIn;
  animation-duration: 1s;
}

menu h1 strong{
  color: white;
  animation: bounceIn;
  animation-duration: 1s;
}

menu label{
  color: white;
  font-weight: bold;
}

menu button{
  background: none;
  border: none;
  padding: 7px;
  border-radius: 20px;
  color: red;
  border: 1px solid red;
  width: 152px;
  transition: 300ms;
}

menu button:hover{
  color: white;
  background-color: red;
}

footer{
  display: flex;
  justify-content: center;
  gap: 5cm;
  background-color: white;
  padding: 2cm;
 }

 .whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
  text-decoration: none;
  transition: 1s;
  animation: bounce;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

.whatsapp-icon {
  margin-top:13px;
}

 footer ul{
  list-style: none;
  color: #ff7f50;
  font-weight: bold;
 }

 footer a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 500ms
 }

 footer a:hover{
  font-size: 0.8cm;
 }

 footer img{
  width: 150px;
 }

@media screen and (max-width: 1440px) {
  footer{
    gap: 3cm;
  }
}