.image {
    float: left;
    width: 15cm;
    margin: 10px;
    z-index:2;
}

.image iframe{
    margin:20px 0 0 0;
    height: 15cmpx;
    width: 15cm;
}

.desvanecer{
  max-width: 5000px;
}

.image p{
font-family:arial;
color:#000;
background:#fff;
position:relative;
bottom:60px;
left:50px;
font-size:20px;
font-weight:bold;
z-index:2;
display:inline-block;
visibility:hidden;
}

.desvanecer:hover{
  opacity: 0.5;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.image img:hover ~ p{
  visibility:visible;
}