* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Ultra&display=swap');

body{
  background-image: url(../content/images/stacked-peaks-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav{
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 20px;
  transform: scale(0.8,0.8);
}

.navegacion{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 0px rgb(136, 136, 136);
}

.navegacion a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.navegacion #boton{
  text-align: center;
  padding: 12px;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
}

.navegacion #boton .h-6{
  width: 20px;
  margin-top: -5.5px;
}

.navegacion #boton:hover{
  background-color: #ff7f50;
  color: white;
}

.navegacion ul{
  margin-top: 15px;
  gap: 4cm;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .navegacion ul{
    gap: 2cm;
  }
}

.navegacion img{
  width: 200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  animation: bounceIn;
  animation-duration: 1.5s;

}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
  text-decoration: none;
  transition: 1s;
  animation: bounce;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

.whatsapp-icon {
  margin-top:13px;
}

header{
  height: 3cm;
}

header .container{
  height: 10cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-content: center;
  margin-top: 2cm;
  margin-bottom: -5cm;
}

.container .text{
  display: grid;
  align-content: center;
}

.container .text p{
  color: white;
  text-align: left;
  font-size: 1.5cm;
  font-family: 'Luckiest Guy', cursive;
  animation: bounceIn;
  animation-duration: 1.5s;
}

.container .text strong{
  color: #ff7f50;
}

.container .ubicacion{
  display: grid;
  align-content: center;
  justify-content: center;
}

.container .ubicacion label{
  animation: bounceIn;
  animation-duration: 1.5s;
}

.container .ubicacion input{
  width: 13cm;
  padding: 15px;
  margin-top: 10px;
  border: none;
  transition: 500ms;
  border-radius: 20px;
  animation: bounceIn;
  animation-duration: 1.5s;
}

.container .ubicacion button{
  height: 1.4cm;
  width: 3cm;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  transition: 300ms;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 15px;
  animation: bounceIn;
  animation-duration: 1.5s;
}

.container .ubicacion button:hover{
  background-color: #ff7b00;
  border: none;
}

.container .ubicacion button:hover{
  background-color: #ff7b00;
}

.container .ubicacion input:hover{
  border: 5px solid #ff7b00;
}

.container .ubicacion label{
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: arial;
}

#punt{
  height: 8cm;
  background-color: white;
}

#punt .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-content: center;
}

#punt .icons{
  margin-right: auto ;
  margin-left: auto;
  text-align: center;
  margin-top: 45px;
  transition: 300ms;
  animation: fadeInDown;
  animation-duration: 1s;
}

#punt .icons:hover{
  transform: scale(1.1);
}

#punt .icons p{
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

#punt .icons img{
  width: 140px;
}

#promo .container-fluid{
  height: 10cm;
}

#promo .container-fluid #videoproductos{
  display: flex;
  justify-content: right;
}

#promo .container-fluid{
  font-weight: bold;
  font-family: 'Mochiy Pop One';
  font-size: 40px;
  animation: bounceIn;
  animation-duration: 700ms;
}

#promo .container-fluid #text{
  display: grid;
  align-content: center;
}

#promo .container-fluid #text button{
  width: 300px;
  font-size: 25px;
  margin-top: 30px;
  background: none;
  border: none;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
  color: white;
  transition: 500ms;
}

#promo .container-fluid #text button:hover{
  border: none;
  background-color: #ff7b00;
}

#promo .container-fluid strong{
  color: white;
}

#modal1 h1{
  font-size: 30px;
  font-family: 'Mochiy Pop One';
  text-align: center;
}

#modal1 h1 strong{
  color: #ff7b00;
}

#modal1 p{
  text-align: center;
  margin-top: 30px;
}

#modal1 #exito img{
  width: 200px;
  margin-left: 170px;
  padding: 40px;
}

header{
  height: 14cm;
}

menu{
  background-color: white;
  padding: 15px;
}

menu .locales{
  margin-top: -3cm;
  height: 20cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

menu .locales .text{
  color: black;
  display: grid;
  align-content: center;
  text-align: right;
  animation: bounceIn;
  animation-duration: 1s;
}

menu .locales .text button{
  width: 7cm;
  background: #ff7b00;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  margin-left: auto;
  font-family: arial;
}

menu .locales h1{
  font-weight: bold;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.3cm;
}

menu .locales p{
  font-size: 1cm;
  font-family: arial;
  display: flex;
  justify-content: right;
}

.gmap_canvas{
  overflow:hidden;
  background:none;
  height:499px;
  width:664px;
}

menu .locales .img{
  display: grid;
  align-content: center;
  justify-content: left;
  padding: 1cm;
  animation: bounceIn;
  animation-duration: 1s;
}

menu iframe{
  width: 700px;
  height: 500px;
}

@media screen and (max-width: 1440px) {
  menu .locales .img{
    padding: 1cm;
  }

  menu iframe{
    width: 500px;
    height: 300;
  }
}

#proveedores .provee img{
  width: 130px;
  height: 90px;
} 

#proveedores{
  background-image: url(../content/images/fondo-nosotros.svg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 30cm;
}

#proveedores .provee{
  height: 8cm;
  display: flex;
  justify-content: center;
  animation: slideInUp;
  animation-duration: 1s;
}

#proveedores .title{
  text-align: center;
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  padding: 30px;
  color: black;
}

#proveedores .provee img{
  width: 130px;
  height: 110px;
  margin: 1cm;
}

#proveedores .provee img:nth-child(1){
  transition: 500ms;
}

#proveedores .provee img:nth-child(1):hover{
  transform: scale(1.3);
}

#proveedores .provee img:nth-child(4){
  transition: 500ms;
}

#proveedores .provee img:nth-child(4):hover{
  transform: scale(1.3);
}

#proveedores .provee img:nth-child(3){;
  transition: 500ms;
}

#proveedores .provee img:nth-child(3):hover{
  transform: scale(1.3);
}

#proveedores .provee img:nth-child(2){ise;
  transition: 500ms
}

#proveedores .provee img:nth-child(2):hover{
  transform: scale(1.3);
}

#proveedores .provee img:nth-child(5){ transition: 500ms;
}

#proveedores .provee img:nth-child(5):hover{
  transform: scale(1.3);
}

#proveedores .provee img:nth-child(6){  transition: 500ms;
}

#proveedores .provee img:nth-child(6):hover{
  transform: scale(1.3);
}

#reseñas{
  height: 15cm;
}

#reseñas .title{
  text-align: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  padding: 30px;
  color: white;
  animation: fadeInDown;
  animation-duration: 1s;
}

#reseñas .comen{
  grid-auto-rows: 22rem; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: auto;
}

#reseñas .comen .twitter-tweet{
  margin: auto;
}

@media screen and (max-width: 1440px){
  .container .text p{
    font-size: 40px;
  }

  .container .ubicacion input{
    width: 12cm;
  }

  #punt .icons img{
    width: 130px;
  }

  #punt .icons p{
    font-size: 30px;
  }

  menu .locales h1{
    font-size: 40px;
  }

  menu .locales p{
    font-size: 30px;
  }

  menu .locales img{
    width: 10cm;
  }
}

footer{
  display: flex;
  justify-content: center;
  gap: 5cm;
  background-color: white;
  padding: 2cm;
  margin: 0 !important;
 }

 footer ul{
  list-style: none;
  color: #ff7f50;
  font-weight: bold;
 }

 footer a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 500ms
 }

 footer a:hover{
  font-size: 0.8cm;
 }

 footer img{
  width: 150px;
 }

@media screen and (max-width: 1440px) {
  footer{
    gap: 3cm;
  }
}

@media screen and (max-width: 1366px){

  #reseñas{
    height: 30cm;
  }

  #reseñas .comen{
    grid-auto-rows: 22rem; 
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: auto;
  }

  .mapouter{
    width: 100px;
  }

  #punt .icons p{
    font-size: 20px;
  }

  footer{
    gap: 5cm;
  }

  .container .ubicacion input{
    width: 10cm;
  }

  menu .locales{
    margin-top: 0cm;
    height: 23cm;
    margin-bottom: 0.1cm;
  }
}

@media screen and (max-width: 1440px) {
  footer{
    gap: 3cm;
  }
}

.carousel-inner img {
  width: 100%;
  max-height: 1000px;
  border-bottom: 5px solid white;
  box-shadow: 0px 0px 100px 10px black;
}

@media screen and (max-width: 1200px) {
  .navegacion ul{
    gap: 1cm;
  }

  menu .locales .img{
    padding: 0;
  }

  #promo .container-fluid #text{
    transform: scale(0.9,0.9);
  }

  .container .ubicacion button{
    margin-left: 0;
    margin-top: 20px;
    height: 40px;
  }
}

@media screen and (max-width: 1101px) {
  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:90px;
  }

  .navegacion ul{
    gap: 0;
  }
}

@media screen and (max-width: 1060px) {
  menu .locales{
    margin-top: -3cm;
    height: 30cm;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  menu .locales .text{
    text-align: center;
  }

  menu .locales .img{
    display: none;
  }

  menu .locales .text h1{
    text-align: center;
  }

  menu .locales p{
    display: flex;
    justify-content: center;
  }

  menu .locales .text button{
    margin: auto;
  }

  #promo{
    height: 17cm;
  }

  #promo .container-fluid #videoproductos{
    display: flex;
    justify-content: center;
  }

  #promo .container-fluid #text{
    margin-top: 1cm;
    text-align: center;
  }

  #proveedores .provee{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  #proveedores .provee img{
    margin: auto;
  }

  footer{
    gap: 1cm;
  }

  header .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  header .container .text p{
    text-align: center;
  }

  .container .ubicacion button{
    margin-left: 20px;
    height: 50px;
  }

  .container .ubicacion label{
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  #reseñas .comen{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #reseñas{
    height: 35cm;
  }

  nav{
    display: none;
  }

  .gmap_canvas{
    transform: scale(0.6,0.6);
  }

  .twitter-tweet{
    transform: scale(0.8, 0.8);
  }

  #proveedores .provee{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1cm;
  }
}

@media screen and (max-width: 680px) {

  #punt{
    height: 20cm;
  }

  #punt .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
  }

  .twitter-tweet{
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  header .container .text{
    transform: scale(0.8,0.8);
  }

  header .container .ubicacion input{
    width: 200px;
  }

  header .container .ubicacion .input{
   text-align: center;
  }

  header .container .ubicacion .input button{
    margin: 0;
  }
  
menu .locales{
  margin-top: 1cm;
}

footer{
  text-align: center;
}

}